.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

.App-clicks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px;
}

.App-button {
    width: 100px;
    margin-right: 10px;
}

.App-input {
    margin-left: 10px;
    margin-right: 10px;
}

